---
layout: default
---
<div class="grid-100 main post">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">{{ page.date | date:"%Y-%m-%d" }}</p>
    <div class="post-content">
    {{ content }}
    </div>
    
    <div id="pagination">
        <p>
            <span class="grid-50 mobile-grid-50">
            {% if page.next %}
                <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}">&laquo; {{ page.next.title }}</a>
            {% endif %}
            </span>
            
            <span class="grid-50 mobile-grid-50 text-right">
            {% if page.previous %}
                <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"> {{ page.previous.title }} &raquo;</a>
            {% endif %}
            </span>
        </p>
    </div>

    {% if page.disqus == true and site.disqus_shortname != '' %}
        {% include disqus.html %}
    {% endif %}
</div>